* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

input {
    width: 100%;
    padding: 14px 0 6px; /* tambah atas biar teks input gak tabrakan sama label */
    border: none;
    border-bottom: 2px solid #888;
    background: transparent;
    color: #333;
    outline: none;
    transition: .5s;
}

.form-group input:focus,
.form-group input:valid{
    border-bottom-color: #4CAF50;
}

label {
    position: absolute;
    top: 12px;
    left: 0;
    transform: translateY(-50%);
    font-size: 14px;
    color: #888;
    pointer-events: none;
    transition: .5s;
}

.form-group input:focus~label,
.form-group input:valid~label{
    top: -5px;
    color: #4CAF50;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #f4f4f4;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    border-color: transparent;
    background-color: #45a049;
    color: white;
}

.register-link, .login-link {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    border: 1px solid red; 
    background-color: #ffe6e6; 
    color: red; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    font-size: 12px
}

.success-message {
    border: 1px solid green; 
    background-color:rgb(211, 253, 220); 
    color: green; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    font-size: 12px
} 